# Database Configuration (PostgreSQL)
DB_URL=jdbc:postgresql://localhost:5432/vital_db
DB_PASSWORD=

# Mail Configuration
MAIL_USERNAME=
MAIL_PASSWORD=

# Gemini API Configuration
GEMINI_API_KEY=

# JWT Configuration
JWT_SECRET=
